@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-500;
}

body {
  font-family: "Space Mono";
  font-feature-settings: "liga" 0;
}

.inter {
  font-family: "Inter, sans-serif" !important;
}

.text-shadow {
  text-shadow: 3px 3px 0px #a2a5fc, 5px -4px 0px #8eedc7;
}

.handwritten {
  font-family: "Nanum Pen Script" !important;
}

.all-center {
  @apply flex items-center justify-center;
}

.center-between {
  @apply flex items-center justify-between;
}

.link {
  @apply underline font-semibold text-sm;
  text-decoration-color: #9fb3c8;
  text-decoration-thickness: 0.1rem;
}

.link:hover {
  text-decoration-color: #5d55fa;
}

.bg-splatter {
  background: #fff url("../assets/images/bg-splatter.jpg") top;
  background-size: 1132px 1014px;
  @apply relative z-0 overflow-hidden !important;
}

.stack-sm {
  box-shadow: 10px 10px 0 -1px #fff, 10px 10px 0 #243b53;
}

.shadow-dark {
  box-shadow: 3px 3px 0 #243b53;
}

.svg-shadow-purple {
  -webkit-filter: drop-shadow(3px 3px 0 #c4c6ff);
  filter: drop-shadow(3px 3px 0 #c4c6ff);
}

.card {
  @apply mx-auto py-4 lg:py-6 px-6 w-full bg-white border-main rounded-lg shadow-lg;
}

.feature-list {
  counter-reset: section;
  list-style-type: none;
  -webkit-column-width: 16rem;
  column-width: 16rem;
  grid-column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.feature-list-item {
  display: inline-block;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.feature-grid {
  grid-column: max/max 2;
  grid-column-start: max;
  grid-column-end: 2 max;
}

.emphasized-text {
  @apply px-0.5 rounded-md;
  background: linear-gradient(90deg, #effcf6 0, #c6f7e2 100%);
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.emphasized-text-light {
  @apply px-0.5 rounded-md text-white;
  background: linear-gradient(90deg, #7069fa 0, #5455fa 100%);
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.hero-top::before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%2363B3ED' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 0,100 100,100' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 2vw;
  width: 100%;
  position: absolute;
  left: 0;
  top: -1.9vw;
}

.hero::before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%2363B3ED' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 0,100 100,100' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  width: 100%;
  position: absolute;
  left: 0;
  top: -4.9vw;
  margin-right: 10px;
}
.hero::after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%2363B3ED' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 0,100 0,0' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5vw;
  margin-right: 10px;
}

/* .section-divider-top {
  @apply block absolute -top-8 left-0 right-0 w-full h-8;
  background-image: url("../assets/svgs/Leadgeek-logo-light.svg");
  background-size: auto 30px;
  background-repeat: repeat-x;
  background-position: top left;
} */

.form-field {
  @apply w-full mt-1 p-2 rounded-md text-sm border border-gray-200 hover:border-purple-300 placeholder-gray-300 ring-purple;
}

.form-field-label {
  @apply block text-xs font-medium text-gray-500;
}

.svg-sm {
  @apply h-4 w-4;
}

.svg-base {
  @apply h-5 w-5;
}

.default-logo-sm {
  @apply md:hidden w-12;
}

.default-logo-lg {
  @apply inline-block w-16;
}

.border-main {
  @apply border border-gray-200;
}

.transition-main {
  @apply transition duration-100 ease-in-out;
}

.transition-colors-main {
  @apply transition-colors duration-100 ease-in-out;
}

.ring-purple {
  @apply focus:outline-none focus:ring focus:ring-purple-300;
}

.ring-red {
  @apply focus:outline-none focus:ring focus:ring-red-200;
}

.ring-gray {
  @apply focus:outline-none focus:ring focus:ring-gray-300;
}

.minimal-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-300;
}

.no-m-first {
  @apply first:ml-0 ml-8;
}

.cta-link {
  @apply py-3 px-4 rounded-lg shadow-purpleSm hover:shadow-purpleMd border border-purple-500 hover:border-purple-600 bg-purple-500 font-semibold text-sm hover:bg-purple-600 text-white transition-main ring-purple;
}

.cta-link-center {
  @apply cta-link text-center w-auto;
}

.secondary-link {
  @apply font-semibold hover:text-purple-500 group transition-colors-main;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #486581;
}

.secondary-link:hover {
  text-decoration-color: #5455fa;
}

.active-secondary-link {
  text-decoration-color: #5455fa;
}

.tertiary-link {
  @apply text-gray-600 hover:text-purple-500 group transition-colors-main;
}

.tertiary-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #5455fa;
}

.row-border {
  @apply border-b border-gray-800 !important;
}

.text-width {
  @apply md:max-w-xl lg:max-w-2xl;
}

.h3 {
  @apply text-width text-base md:text-lg lg:text-xl leading-relaxed text-gray-700;
}

.h4 {
  @apply text-width text-base lg:text-lg leading-relaxed;
}

.nav-width-md {
  max-width: 723px !important;
  margin-left: -380px !important;
}

.nav-width-lg {
  max-width: 970px !important;
  margin-left: -615px !important;
}

.nav-width-xl {
  max-width: 1068px !important;
  margin-left: -715px !important;
}

@screen md {
  .navbar-width {
    @apply nav-width-md;
  }
}

@screen lg {
  .navbar-width {
    @apply nav-width-lg;
  }
}

@screen xl {
  .navbar-width {
    @apply nav-width-xl;
  }
}

.left-50 {
  left: 50%;
}

.negative-z {
  z-index: -1;
}
@screen md {
  .container-width {
    max-width: 1068px;
  }
}

.translate-x-25 {
  --transform-translate-x: -25%;
}

th {
  @apply p-3 border-0 !important;
}

@screen md {
  th {
    @apply p-4 border-0 !important;
  }
}

tr {
  @apply rounded-md border-0 !important;
}

td {
  @apply p-3 border-0 !important;
}

@screen md {
  td {
    @apply p-4 border-0 !important;
  }
}

tr:first-child td:first-child {
  @apply rounded-tl-md;
}

tr:first-child td:last-child {
  @apply rounded-tr-md;
}

tr:last-child td:first-child {
  @apply rounded-bl-md;
}

tr:last-child td:last-child {
  @apply rounded-br-md;
}

thead > tr:first-child,
td:first-child {
  @apply rounded-none !important;
}

thead > tr:last-child,
td:last-child {
  @apply rounded-none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.3);
}

@screen md {
  .split-image {
    max-height: 450px;
  }
}

@screen lg {
  .split-image {
    max-height: 696px;
  }
}

@screen lg {
  .right-50 {
    right: 50%;
  }
}

.video-responsive {
  position: relative;
  display: block;
  width: 480px;
  overflow: hidden;
  @apply rounded-md shadow-2xl;
}

@screen md {
  .video-responsive {
    position: relative;
    display: block;
    width: 640px;
    overflow: hidden;
  }
}

@screen lg {
  .video-responsive {
    position: relative;
    display: block;
    width: 840px;
    overflow: hidden;
  }
}

@screen xl {
  .video-responsive {
    position: relative;
    display: block;
    width: 1040px;
    overflow: hidden;
  }
}

.video-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gif-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-repeat {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a2a5fc' fill-opacity='0.30'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
