@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-700;
}

body {
  font-family: Space Mono, monospace;
  font-feature-settings: "liga" 0;
}

.inter {
  font-family: Inter, sans-serif !important;
}

::selection {
  background: #c6f7e2;
}
::-moz-selection {
  background: #c6f7e2;
}

.header-height {
  @apply leading-tight !important;
}

.handwritten {
  font-family: "Nanum Pen Script" !important;
}

.negative-z {
  z-index: -1;
}

.all-center {
  @apply flex items-center justify-center;
}

.center-between {
  @apply flex items-center justify-between;
}

.link {
  @apply underline font-semibold text-sm;
  text-decoration-color: #9fb3c8;
  text-decoration-thickness: 0.1rem;
}

.link:hover {
  text-decoration-color: #5d55fa;
}

.bg-splatter {
  background: #fff url("../assets/images/bg-splatter.png") top;
  background-size: 1132px 1014px;
  @apply relative z-0 !important;
}

.stack-sm {
  box-shadow: 10px 10px 0 -1px #fff, 10px 10px 0 #243b53;
}

.stack-sm-dark {
  box-shadow: 10px 10px 0 -1px #e6ebf0, 10px 10px 0 #243b53;
}

.shadow-dark {
  box-shadow: 3px 3px 0 #243b53;
}

.shadow-purpleSm {
  @apply ring-2 md:ring-4 ring-purple-500 ring-opacity-50 shadow-lg;
}

.shadow-purpleMd {
  @apply ring-8 ring-purple-500 ring-opacity-50 shadow-2xl;
}

.shadow-pinkSm {
  @apply ring-2 md:ring-4 ring-pink-600 ring-opacity-50 shadow-lg;
}

.shadow-pinkMd {
  @apply ring-8 ring-pink-600 ring-opacity-50 shadow-2xl;
}

.shadow-tealSm {
  @apply ring-2 md:ring-4 ring-teal-500 ring-opacity-50 shadow-lg;
}

.shadow-tealMd {
  @apply ring-8 ring-teal-500 ring-opacity-50 shadow-2xl;
}

.shadow-graySm {
  @apply ring-2 md:ring-4 ring-gray-900 ring-opacity-50 shadow-lg;
}

.shadow-grayMd {
  @apply ring-8 ring-gray-900 ring-opacity-50 shadow-2xl;
}

.svg-shadow {
  -webkit-filter: drop-shadow(3px 3px 0 #9fb3c8);
  filter: drop-shadow(3px 3px 0 #9fb3c8);
}

.card {
  @apply py-4 lg:py-6 px-6 w-full bg-white rounded-lg shadow-lg;
}

.feature-list {
  counter-reset: section;
  list-style-type: none;
  -webkit-column-width: 16rem;
  column-width: 16rem;
  grid-column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.feature-list-item {
  display: inline-block;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.feature-grid {
  grid-column: max/max 2;
  grid-column-start: max;
  grid-column-end: 2 max;
  justify-content: center;
}

.emphasized-text {
  @apply px-0.5 rounded-md text-teal-900;
  background: linear-gradient(90deg, #c6f7e2 0, #8eedc7 100%);
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.emphasized-text-light {
  @apply px-0.5 rounded-md text-white shadow-lg;
  background: linear-gradient(90deg, #7069fa 0, #5455fa 100%);
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.divider-top {
  @apply absolute top-0 w-full transform -translate-y-2 md:-translate-y-6 lg:-translate-y-10;
}

.divider-bottom {
  @apply absolute bottom-0 w-full transform translate-y-2 md:translate-y-6 lg:translate-y-10 xl:translate-y-12 z-10;
}

.form-field {
  @apply w-full mt-1 p-2 rounded-md text-sm border border-gray-200 hover:border-purple-300 placeholder-gray-300 ring-purple;
}

.form-field-label {
  @apply block text-xs font-medium text-gray-700;
}

.svg-sm {
  @apply h-4 w-4;
}

.svg-base {
  @apply h-5 w-5;
}

.default-logo-sm {
  @apply md:hidden w-12;
}

.default-logo-lg {
  @apply inline-block w-16;
}

.border-main {
  @apply border border-gray-200;
}

.transition-main {
  @apply transition duration-100 ease-in-out;
}

.transition-colors-main {
  @apply transition-colors duration-100 ease-in-out;
}

.ring-purple {
  @apply focus:outline-none focus:ring focus:ring-purple-300;
}

.ring-red {
  @apply focus:outline-none focus:ring focus:ring-red-200;
}

.ring-gray {
  @apply focus:outline-none focus:ring focus:ring-gray-300;
}

.minimal-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-300;
}

.no-m-first {
  @apply first:ml-0 ml-6;
}

.cta-link {
  @apply p-2 lg:px-4 rounded-lg shadow-md hover:shadow-lg border border-purple-500 hover:border-purple-600 bg-purple-500 font-semibold text-sm md:text-base hover:bg-purple-600 text-white transition-main ring-purple;
}

.cta-link-center {
  @apply cta-link text-center w-auto;
}

.secondary-link {
  @apply font-semibold hover:text-purple-500 group transition-colors-main;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #486581;
}

.secondary-link-dark {
  @apply font-semibold hover:text-pink-600 group transition-colors-main;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #486581;
}

.secondary-link:hover {
  text-decoration-color: #5455fa;
}

.active-secondary-link {
  text-decoration-color: #5455fa;
}

.tertiary-link {
  @apply hover:text-purple-500 group transition-colors-main;
}

.tertiary-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #5455fa;
}

.text-decoration-dark {
  text-decoration-color: #627d98;
}

.text-decoration-bright {
  text-decoration-color: #f224f2;
}

.row-border {
  @apply border-b border-gray-800 !important;
}

.text-width {
  @apply md:max-w-xl lg:max-w-2xl;
}

.h3 {
  @apply text-width text-base md:text-lg lg:text-xl leading-relaxed text-gray-700;
}

.h4 {
  @apply text-width text-base lg:text-lg leading-relaxed;
}

.nav-width-md {
  max-width: 723px !important;
  margin-left: -380px !important;
}

.nav-width-lg {
  max-width: 970px !important;
  margin-left: -615px !important;
}

.nav-width-xl {
  max-width: 1068px !important;
  margin-left: -715px !important;
}

@screen md {
  .navbar-width {
    @apply nav-width-md;
  }
}

@screen lg {
  .navbar-width {
    @apply nav-width-lg;
  }
}

@screen xl {
  .navbar-width {
    @apply nav-width-xl;
  }
}

th {
  @apply p-3 border-0 !important;
}

@screen md {
  th {
    @apply p-4 border-0 !important;
  }
}

tr {
  @apply rounded-md border-0 !important;
}

td {
  @apply p-3 border-0 !important;
}

@screen md {
  td {
    @apply p-4 border-0 !important;
  }
}

tr:first-child td:first-child {
  @apply rounded-tl-md;
}

tr:first-child td:last-child {
  @apply rounded-tr-md;
}

tr:last-child td:first-child {
  @apply rounded-bl-md;
}

tr:last-child td:last-child {
  @apply rounded-br-md;
}

thead > tr:first-child,
td:first-child {
  @apply rounded-none !important;
}

thead > tr:last-child,
td:last-child {
  @apply rounded-none !important;
}

.video-responsive {
  position: relative;
  display: block;
  overflow: hidden;
  @apply rounded-lg w-full shadow-grayMd;
}

.video-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply rounded-lg;
}

.blog-hero-image {
  max-height: 45vh;
}

/*! purgecss start ignore */

@media only screen and (max-width: 640px) {
  .full-width {
    width: 100vw;
    position: relative;
    z-index: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  z-index: -1;
  left: 50%;
  right: 50%;
  margin-left: calc(-50vw - 0px);
  margin-right: calc(-50vw + 0px);
}

#blog-body > h2 {
  @apply mt-12 inter text-2xl font-bold;
}

#blog-body > h3 {
  @apply mt-10 inter text-xl font-semibold;
}

#blog-body > h4,
h5,
h6 {
  @apply mt-10 inter text-lg font-semibold;
}

#blog-body > p {
  hyphens: auto;
  @apply mt-6 leading-8 font-normal inter;
}

#blog-body > pre {
  @apply mt-6;
}

#blog-body > hr {
  @apply my-8;
}

#blog-body > p > a {
  @apply underline hover:text-purple-500 transition-main;
}

#blog-body > p > span.gatsby-resp-image-wrapper {
  @apply mt-12 z-10 shadow-graySm rounded-lg !important;
}

#blog-body > p > span.gatsby-resp-image-wrapper > img {
  @apply rounded-lg;
}

#blog-body > p > span.gatsby-resp-image-wrapper + em {
  @apply mt-2 block text-center;
}

#blog-body > ul,
#blog-article > div > ul {
  @apply mt-4 ml-6 list-disc;
}

#blog-body > ol {
  @apply mt-4 ml-6 list-decimal;
}

#blog-body > blockquote {
  @apply mt-6 py-4 pl-4 pr-2 rounded-lg shadow-graySm bg-gray-100 text-sm font-semibold !important;
}

#table-of-contents > ol > li > ol {
  @apply ml-2;
}

#table-of-contents > ol > li > ol > li > ol {
  @apply ml-4;
}

#table-of-contents > ol > li > ol > li > ol > li > ol {
  @apply ml-6;
}

#changelog-item > ul {
  @apply mt-2 ml-6;
}

#changelog-item > ul > li {
  @apply list-disc;
}

#changelog-item > ul > li > ul > li {
  list-style: circle;
  @apply ml-6;
}

#commento.commento-root * {
  font-family: inherit;
  text-transform: none;
}

#commento.commento-root .commento-button,
#commento.commento-root .commento-email-button {
  @apply font-normal;
}

#commento.commento-root .commento-button:focus {
  @apply outline-none shadow-md;
}

#commento.commento-root .commento-submit-button,
#commento.commento-root .commento-github-button,
#commento.commento-root .commento-twitter-button,
#commento.commento-root .commento-google-button,
#commento.commento-root .commento-email-button {
  @apply bg-gray-900 text-white text-sm rounded-lg;
}

#commento.commento-root .commento-email {
  @apply rounded-lg;
}

#commento.commento-root .commento-card .commento-body {
  overflow-x: auto;
}

#commento.commento-root .commento-card .commento-body * {
  font-size: 1em;
  line-height: 1.5;
}

#commento.commento-root .commento-card .commento-moderator:after {
  background: #243b53;
}

#commento.commento-root .commento-card .commento-option-approve:hover,
#commento.commento-root .commento-card .commento-option-remove:hover,
#commento.commento-root .commento-card .commento-option-sticky:hover,
#commento.commento-root .commento-card .commento-option-reply:hover,
#commento.commento-root .commento-card .commento-option-edit:hover,
#commento.commento-root .commento-card .commento-option-collapse:hover,
#commento.commento-root .commento-card .commento-option-uncollapse:hover,
#commento.commento-root .commento-card .commento-option-cancel:hover,
#commento.commento-root .commento-card .commento-option-upvote:hover,
#commento.commento-root .commento-card .commento-option-downvote:hover {
  @apply bg-gray-900;
}

#commento.commento-root .commento-card .commento-option-remove,
#commento.commento-root .commento-card .commento-option-unsticky,
#commento.commento-root .commento-card .commento-option-approve {
  @apply bg-gray-900;
}

#commento.commento-root .commento-card .commento-upvoted,
#commento.commento-root .commento-card .commento-downvoted {
  background-color: #8eedc7;
}
#commento.commento-root
  .commento-round-check
  input[type="checkbox"]:checked
  + label:before {
  @apply bg-gray-900 border-main;
}

#commento.commento-root input[type="text"],
.commento-root textarea {
  color: #8eedc7;
}

#commento.commento-root .commento-logo-container {
  display: none;
}

#commento.commento-root .commento-sort-policy-button-selected {
  @apply text-gray-900;
}

#commento.commento-root .commento-textarea-container {
  margin: 0px;
}

/*! purgecss end ignore */
